* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 0 50px;
  background-color: #fff;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  margin-right: 110px;
}

.menu ul li {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 20px 10px;
  text-transform: uppercase;
  color: #000;
}

.menu a {
  text-decoration: none;
  color: #000;
}

.menu-items {
  display: block;
}

.header .menu ul a:hover {
  color: #00acdc;
}

a.is-active {
  position: relative;
  color: #00acdc;
}

.is-active:after {
  position: absolute;
  content: "";
  left: 0;
  top: 30px;
  border: 2px solid #00acdc;
  width: 100%;
  border-radius: 8px;
}
